body {
    background: url('images/Cayman-Islands-281.jpg') no-repeat center center fixed;
    background-size: cover;
}

.navbar {
    text-align: center;
    background: rgba(255,255,255,0.8);
    margin: 0 40px 0 40px;
}

.box {
    text-align: center;
    width: 700px;
    margin: 20px auto; 
    padding: 30px;
    background: rgba(255,255,255,0.7);
}